.trigammon {
    width: 1000px;
    height: 686px;
    position: relative;
    font-family: cursive;
    user-select: none;
    padding: 25px;
    box-sizing: border-box;
    background: url(back_1.png) no-repeat top left;
    background-size: cover;
}
.trigammon:after {
    content: '';
    clear: both;
    display: block;
}
.trigammon * {
    box-sizing: border-box;
}
.trigammon [data-cell] {
    width: 75px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.trigammon [data-cell] .cell {
    display: block;
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
    box-shadow: inset 0 0 3px #ccc;
    transform: translate(0, 0);
    line-height: 50px;
    font-size: 24px;
    font-weight: 700;
    color: #aaa;
    transition: all .1s;
}
.trigammon [data-cell] .cell[draggable]:hover {
    cursor: pointer;
    border-width: 2px;
}
.trigammon [data-cell] .cell-white[draggable]:hover {
    box-shadow: inset 0 0 3px #999;
}
.trigammon [data-cell] .cell-black[draggable]:hover {
    box-shadow: inset 0 0 3px #fff;
}
.trigammon [data-cell] .cell-white {
    background: #fff;
    border: 1px solid #ddd;
}
.trigammon [data-cell] .cell-black {
    background: #444;
    border: 1px solid #222;
}
.trigammon .q0,
.trigammon .q1,
.trigammon .q2,
.trigammon .q3 {
    position: absolute;
    width: 450px;
    height: 290px;
}
.trigammon .q0 {
    top: 25px;
    left: 25px;
}
.trigammon .q1 {
    top: 25px;
    left: calc(50% + 23px);
}
.trigammon .q2 {
    bottom: 25px;
    left: 25px;
}
.trigammon .q3 {
    bottom: 25px;
    left: calc(50% + 23px);
}
.trigammon .q4 {
    position: absolute;
    left: calc(50% - 37.5px);
    bottom: 60%;
}
.trigammon .q5 {
    position: absolute;
    left: calc(50% - 37.5px);
    top: 60%;
}
.trigammon .flex-c {
}
.trigammon .flex-ci {
    position: absolute;
    bottom: 0;
    width: 75px;
}
.trigammon .dragover {
    background: rgba(0, 0, 0, .04);
}


.trigammon button {
    width: 100px;
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: inherit;
    transition: background .1s;
    font-size: 12px;
    height: 45px;
    margin: 0;
    border: 1px solid #f00;
    box-shadow: inset 0 0 3px #f00;
    background: #fee;
    color: #8f5545;
    margin-right: 10px;
    border-radius: 4px;
}
.trigammon button[disabled] {
    cursor: not-allowed;
    opacity: .7;
}
.trigammon button:not([disabled]):hover {
    background: #f5f5f5;
    cursor: pointer;
}
.trigammon-dices {
    position: absolute;
    top: calc(50% - 22px);
}
.trigammon-dices-white {
    left: calc(50% + 196px);
}
.trigammon-dices-black {
    left: 201px;
}
.trigammon-dices-double {
    margin-left: -54px;
}
.trigammon-dices:hover {
    cursor: pointer;
}
.trigammon-dices button {
    position: absolute;
}
.trigammon-dices .trigammon-end-turn {
    left: -110px;
}
.trigammon-dice {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    border: 1px solid #f00;
    box-shadow: inset 0 0 3px #f00;
    background: #fee;
    color: #8f5545;
    margin-right: 10px;
    border-radius: 4px;
}
.trigammon-dice:last-child {
    margin-right: 0;
}

.trigammon-dice-notallowed {
    color: #f00;
}
.trigammon-dice-used {
    color: #fff;
}
.trigammon-turn {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: center;
}