.bgm {
    width: 100%;
    padding-bottom: 70%;
    position: relative;
    font-family: cursive;
    user-select: none;
    box-sizing: border-box;
    background: #ecf0f2;
    border: 25px solid #394c73;
    padding-right: 10%;
}
.bgm:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 25px);
    right: calc(50% - 25px);
    background: #394c73;
}
.bgm * {
    box-sizing: inherit;
}
.bgm [data-cell] {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.bgm [data-cell]:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat top center;
}
.bgm .q0 [data-cell]:before,
.bgm .q1 [data-cell]:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 450'%3E%3Cpolygon points='0,0 100,0 50,370' style='fill:%23fefdd3;stroke:%23444;stroke-width:4' /%3E%3C/svg%3E");
}
.bgm .q0 [data-cell]:nth-child(2n):before,
.bgm .q1 [data-cell]:nth-child(2n):before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 450'%3E%3Cpolygon points='0,0 100,0 50,450' style='fill:%237b585a;stroke:%23444;stroke-width:4' /%3E%3C/svg%3E");
}
.bgm .q2 [data-cell]:before,
.bgm .q3 [data-cell]:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 450'%3E%3Cpolygon points='50,0 0,450 100,450' style='fill:%237b585a;stroke:%23444;stroke-width:4' /%3E%3C/svg%3E");
}
.bgm .q2 [data-cell]:nth-child(2n):before,
.bgm .q3 [data-cell]:nth-child(2n):before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 450'%3E%3Cpolygon points='50,80 0,450 100,450' style='fill:%23fefdd3;stroke:%23444;stroke-width:4' /%3E%3C/svg%3E");
}
.bgm [data-cell] .cell {
    display: block;
    text-align: center;
    border-radius: 50%;
    width: 70%;
    height: 0;
    padding: 35% 0;
    margin: auto;
    box-shadow: inset 0 0 3px #aaa;
    transform: translate(0, 0);
    position: relative;
    line-height: 0;
    font-size: 24px;
    font-weight: 700;
    color: #aaa;
    transition: all .1s;
}
.bgm [data-cell] .cell[draggable]:hover {
    cursor: pointer;
}
.bgm [data-cell] .cell-white[draggable]:hover {
    box-shadow: inset 0 0 5px #999;
}
.bgm [data-cell] .cell-black[draggable]:hover {
    box-shadow: inset 0 0 5px #fff;
}
.bgm [data-cell] .cell-white {
    background: #faeaca;
    border: 1px solid #cacaaa;
}
.bgm [data-cell] .cell-black {
    background: #444;
    border: 1px solid #222;
}
.bgm .q0,
.bgm .q1,
.bgm .q2,
.bgm .q3 {
    position: absolute;
    width: calc(100% / 2 - 25px);
    height: calc(100% / 2 - 25px);
}
.bgm .q0 [data-cell],
.bgm .q1 [data-cell],
.bgm .q2 [data-cell],
.bgm .q3 [data-cell] {
    width: calc(100% / 6);
}
.bgm .q0 {
    top: 0;
    left: 0;
}
.bgm .q1 {
    top: 0;
    left: calc(100% / 2 + 25px);
}
.bgm .q2 {
    bottom: 0;
    left: 0;
}
.bgm .q3 {
    bottom: 0;
    left: calc(100% / 2 + 25px);
}
.bgm .q4 {
    position: absolute;
    left: calc(50% - (100% - 50px )/ 24);
    bottom: 60%;
    width: calc((100% - 50px )/ 12);
}
.bgm .q5 {
    position: absolute;
    left: calc(50% - (100% - 50px )/ 24);
    top: 60%;
    width: calc((100% - 50px )/ 12);
}
.bgm .q6,
.bgm .q7 {
    position: absolute;
    left: 100%;
    width: calc((100% - 50px ) / 12 + 25px);
    background: #ecf0f2;;
    border-right: 25px solid #394b72;
}
.bgm .q6 > div,
.bgm .q7 > div {
    border-left: 1px dashed #394b72;
}

.bgm .q6 {
    top: 50%;
    bottom: -25px;
    border-bottom: 25px solid #394b72;
}
.bgm .q7 {
    top: -25px;
    bottom: 50%;
    border-top: 25px solid #394b72;
}

.bgm .flex-c {
}
.bgm .flex-ci {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.bgm .q0 .dragover:before,
.bgm .q1 .dragover:before {
    background-position-y: -5px;
}
.bgm .q2 .dragover:before,
.bgm .q3 .dragover:before {
    background-position: center bottom -5px;
}
.bgm .allowed:after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    background: #444;
    border-radius: 50%;
    box-shadow: 0 0 3px #fff;
}
.bgm .q0 .allowed:after,
.bgm .q1 .allowed:after {
    top: 10px;
}
.bgm .q2 .allowed:after,
.bgm .q3 .allowed:after {
    bottom: 10px;
}


.bgm button {
    width: 100px;
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: inherit;
    transition: background .1s;
    font-size: 12px;
    height: 45px;
    margin: 0;
    border: 1px solid #f00;
    box-shadow: inset 0 0 3px #f00;
    background: #fee;
    color: #8f5545;
    margin-right: 10px;
    border-radius: 4px;
}
.bgm button[disabled] {
    cursor: not-allowed;
    opacity: .7;
}
.bgm button:not([disabled]):hover {
    background: #f5f5f5;
    cursor: pointer;
}
.bgm-dices {
    position: absolute;
    top: calc(50% - 22px);
}
.bgm-dices-white {
    left: calc(75% - 40px);
}
.bgm-dices-black {
    left: calc(25% - 64px)
}
.bgm-dices-double {
    margin-left: -54px;
}
.bgm-dices:hover {
    cursor: pointer;
}
.bgm-dices button {
    position: absolute;
}
.bgm-dices .bgm-end-turn {
    left: -110px;
}
.bgm-dice {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    border: 1px solid #f00;
    box-shadow: inset 0 0 3px #f00;
    background: #fee;
    color: #8f5545;
    margin-right: 10px;
    border-radius: 4px;
}
.bgm-dice:last-child {
    margin-right: 0;
}

.bgm-dice-notallowed {
    color: #f00;
}
.bgm-dice-used {
    color: #fff;
}
.bgm-turn {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: center;
}